<html>
	<head>
		<link href="css/main.css" rel="stylesheet" type="text/css" />
		<script src="js/jquery.js" type="text/javascript"></script>
		<script src="js/gauge.js" type="text/javascript"></script>
		<script src="js/main.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="screen">
			<div class="one-more">
				<div class="header">
					<div class="timer">
						<div class="weekday">We</div>
						<div class="date">21/01/04</div>
						<div class="time">4:08:48</div>
					</div>
					<div class="text">LLLLLLLLLL</div>
					<div class="number">00</div>
					<table class="data">
						<tbody>
							<tr>
								<td>BASIC_STCD</td>
								<td>{{BASIC_STCD}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<table class="data paginatable">
					<tbody>
						<tr>
							<td></td>
							<td class="mem">Mem.</td>
						</tr>
						<tr>
							<td>EMS_A</td>
							<td>{{EMS_A}}</td>
						</tr>
						<tr>
							<td>EMS_B</td>
							<td>{{EMS_B}}</td>
						</tr>
						<tr>
							<td>EMS_C</td>
							<td>{{EMS_C}}</td>
						</tr>
						<tr>
							<td>EMS_D</td>
							<td>{{EMS_D}}</td>
						</tr>
						<tr>
							<td>HTA_PR_ROOM_OK_M</td>
							<td>{{HTA_PR_ROOM_OK_M}}</td>
						</tr>
						<tr>
							<td>FUSE_MV_OK_M</td>
							<td>{{FUSE_MV_OK_M}}</td>
						</tr>
						<tr>
							<td>_24V_SUPPLY_OK_M</td>
							<td>{{_24V_SUPPLY_OK_M}}</td>
						</tr>
						<tr>
							<td>FUSE_F2_OK_M</td>
							<td>{{FUSE_F2_OK_M}}</td>
						</tr>
						<tr>
							<td>FUSE_F3_OK_M</td>
							<td>{{FUSE_F3_OK_M}}</td>
						</tr>
						<tr>
							<td>FUSE_F4_OK_M</td>
							<td>{{FUSE_F4_OK_M}}</td>
						</tr>
						<tr>
							<td>FUSE_F5_OK_M</td>
							<td>{{FUSE_F5_OK_M}}</td>
						</tr>
						<tr>
							<td>FUSE_F6_OK_M</td>
							<td>{{FUSE_F6_OK_M}}</td>
						</tr>
						<tr>
							<td>_24V_UPS_HH_M</td>
							<td>{{_24V_UPS_HH_M}}</td>
						</tr>
						<tr>
							<td>_24V_UPS_LL_M</td>
							<td>{{_24V_UPS_LL_M}}</td>
						</tr>
						<tr>
							<td>OTA_HH_M</td>
							<td>{{OTA_HH_M}}</td>
						</tr>
						<tr>
							<td>OTA_LL_M</td>
							<td>{{OTA_LL_M}}</td>
						</tr>
						<tr>
							<td>MASTER_BASIC_STCD</td>
							<td>{{MASTER_BASIC_STCD}}</td>
						</tr>
						<tr>
							<td>HTA_CPR_ROOM_OK_M</td>
							<td>{{HTA_CPR_ROOM_OK_M}}</td>
						</tr>
						<tr>
							<td>PS_IA_OK_M</td>
							<td>{{PS_IA_OK_M}}</td>
						</tr>
						<tr>
							<td>FUSE_F6_OK_M</td>
							<td>{{FUSE_F6_OK_M}}</td>
						</tr>
						<tr>
							<td>FUSE_F7_OK_M</td>
							<td>{{FUSE_F7_OK_M}}</td>
						</tr>
						<tr>
							<td>DS_PROC_ROOM_OK_M</td>
							<td>{{DS_PROC_ROOM_OK_M}}</td>
						</tr>
						<tr>
							<td>SM_AND_FIRE_ALARM_OK_M</td>
							<td>{{SM_AND_FIRE_ALARM_OK_M}}</td>
						</tr>
						<tr>
							<td>PS_N2_L_OK_M</td>
							<td>{{PS_N2_L_OK_M}}</td>
						</tr>
						<tr>
							<td>PS_N2_LL_OK_M</td>
							<td>{{PS_N2_LL_OK_M}}</td>
						</tr>
						<tr>
							<td>HTA_DET_HEAD_FAIL</td>
							<td>{{HTA_DET_HEAD_FAIL}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<ul class="buttons">
				<li>Page -</li>
				<li>Line -</li>
				<li>Line +</li>
				<li>Page +</li>
				<li class="empty"></li>
				<li>Reset</li>
			</ul>
		</div>
		<script type="text/javascript">
			$(document).ready(function(){
				//pagination
				var startRow = {{first_row}}; //counting starts with 1
				var lastRow = {{last_row}}; //number of the last line to show

				$.each($('.one-more .paginatable tr'), function(i, row){
					if(i == 0) return;
					if(i >= startRow && i <= lastRow) {
						$(row).show();
					} else {
						$(row).hide();
					}
				});

				//timer
				var accessTimer = {
					init: function(startWith) {
						//in case you forgot to pass startWith
						if(typeof startWith == "undefined") {
							startWith = (new Date()).getTime()/1000;
						}
						
						// you might want to set your own definitions and order based on locale
						this.weekdays = ["Su", "Mo", "Tu", "We", "Th", "Fr", "St"];	
						
						this.timerElement = $(".timer");
						this.inverval = 1000; //how often to update the clocks
						this.ticks = 0;
						if(this.timerElement.length) {
							this.startWith = startWith*1000;
							this.weekdayElement = this.timerElement.find(".weekday");
							this.dateElement = this.timerElement.find(".date");
							this.timeElement = this.timerElement.find(".time");
							this.initTicker();
						}
					},
					initTicker: function() {
						var that = this;
						this.update();
						this.ticker = setInterval(function() {
							that.update();
						}, this.inverval);
					},
					update: function() {
						var now = new Date(this.startWith + this.ticks*this.inverval);
						
						var dateStr = ("0" + now.getDate()).slice(-2) + "/" + ("0" + (now.getMonth() + 1)).slice(-2) + "/" + now.getFullYear().toString().slice(-2);
						
						this.dateElement.html(dateStr);
						
						var timeStr = ("0" + now.getHours()).slice(-2) + ":" + ("0" +now.getMinutes()).slice(-2) + ":" + ("0" + now.getSeconds()).slice(-2);
						
						this.timeElement.html(timeStr);
						
						this.weekdayElement.html(this.weekdays[now.getDay()]);
						
						this.ticks++;
					},
				};
				
							
				// setting current timestamp in seconds; you can set the time you need if you want
				var startWith = (new Date()).getTime()/1000; 
				accessTimer.init(startWith);
			});
		</script>
	</body>
</html>