<!DOCTYPE html>
<html>
	<head>
		<link href="css/main.css" rel="stylesheet" type="text/css" />
		<script src="js/jquery.js" type="text/javascript"></script>
		<script src="js/gauge.js" type="text/javascript"></script>
		<script src="js/main.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="screen">
			<div class="logo"></div>
			<div class="company">
				<div class="title">STUART Energy Europe NV</div>
				<div class="address"><i class="spacer"></i>Nijverheidsstraat 48 C<br><i class="spacer twice"></i>B-2260 Oevel</div>
				<div class="contacts"><i class="spacer"></i>Tel.: +32 14 462110<br>Fax.: +32 14 462111</div>
				<div class="site">www.stuartenergy.com</div>
			</div>
			<ul class="buttons">
				<li>Access</li>
				<li>Select</li>
				<li>Events</li>
				<li>Alarms</li>
				<li>Info</li>
				<li>Debug</li>
			</ul>
		</div>
	</body>
</html>