<html>
	<head>
		<link href="css/main.css" rel="stylesheet" type="text/css" />
		<script src="js/jquery.js" type="text/javascript"></script>
		<script src="js/gauge.js" type="text/javascript"></script>
		<script src="js/main.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="screen">
			<div class="one-more">
				<div class="header">
					<div class="timer">
						<div class="weekday">We</div>
						<div class="date">21/01/04</div>
						<div class="time">4:08:48</div>
					</div>
					<div class="text">LLLLLLLLLL</div>
					<div class="number">00</div>
					<table class="data">
						<tbody>
							<tr>
								<td>BASIC_STCD</td>
								<td>{{BASIC_STCD}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<table class="data paginatable">
					<tbody>
						<tr>
							<td></td>
							<td class="mem">Mem.</td>
						</tr>
						<tr>
							<td>N2_P_SC_OK</td>
							<td>{{N2_P_SC_OK}}</td>
						</tr>
						<tr>
							<td>H2_D_SC_OK</td>
							<td>{{H2_D_SC_OK}}</td>
						</tr>
						<tr>
							<td>MST_H2_P_SC_OK</td>
							<td>{{MST_H2_P_SC_OK}}</td>
						</tr>
						<tr>
							<td>FANS_EPS_OK_M</td>
							<td>{{FANS_EPS_OK_M}}</td>
						</tr>
						<tr>
							<td>PHASE_CHECKER_OK_M</td>
							<td>{{PHASE_CHECKER_OK_M}}</td>
						</tr>
						<tr>
							<td>HW_HTO_H_OK_M</td>
							<td>{{HW_HTO_H_OK_M}}</td>
						</tr>
						<tr>
							<td>HW_HTO_L_OK_M</td>
							<td>{{HW_HTO_L_OK_M}}</td>
						</tr>
						<tr>
							<td>HTO_HH_M</td>
							<td>{{HTO_HH_M}}</td>
						</tr>
						<tr>
							<td>HTO_LL_M</td>
							<td>{{HTO_LL_M}}</td>
						</tr>
						<tr>
							<td>OH_FANS_OK_M</td>
							<td>{{OH_FANS_OK_M}}</td>
						</tr>
						<tr>
							<td>CLOSED_LOOP_OK_M</td>
							<td>{{CLOSED_LOOP_OK_M}}</td>
						</tr>
						<tr>
							<td>CW_PS_OK_M</td>
							<td>{{CW_PS_OK_M}}</td>
						</tr>
						<tr>
							<td>CHILLER_OK_M</td>
							<td>{{CHILLER_OK_M}}</td>
						</tr>
						<tr>
							<td>LS_DT1_OK_M</td>
							<td>{{LS_DT1_OK_M}}</td>
						</tr>
						<tr>
							<td>LS_DT2_OK_M</td>
							<td>{{LS_DT2_OK_M}}</td>
						</tr>
						<tr>
							<td>LS_H2_WL_OK_M</td>
							<td>{{LS_H2_WL_OK_M}}</td>
						</tr>
						<tr>
							<td>LS_O2_WL_OK_M</td>
							<td>{{LS_O2_WL_OK_M}}</td>
						</tr>
						<tr>
							<td>LS_WL_OK_M</td>
							<td>{{LS_WL_OK_M}}</td>
						</tr>
						<tr>
							<td>DIFF_PRES_AIR_FLOW_SWITCH</td>
							<td>{{DIFF_PRES_AIR_FLOW_SWITCH}}</td>
						</tr>
						<tr>
							<td>FS_HTO_OK_M</td>
							<td>{{FS_HTO_OK_M}}</td>
						</tr>
						<tr>
							<td>LS_BT_LL_OK_M</td>
							<td>{{LS_BT_LL_OK_M}}</td>
						</tr>
						<tr>
							<td>O2_DRIER_START_CONDITIONS</td>
							<td>{{O2_DRIER_START_CONDITIONS}}</td>
						</tr>
						<tr>
							<td>MASTER_DRIER_STARTCOND_ARE_OK</td>
							<td>{{MASTER_DRIER_STARTCOND_ARE_OK}}</td>
						</tr>
						<tr>
							<td>PROX_SWITCH_AIR_FLOW_OK_M</td>
							<td>{{PROX_SWITCH_AIR_FLOW_OK_M}}</td>
						</tr>
						<tr>
							<td>PT_CHILL_HH_OK</td>
							<td>{{PT_CHILL_HH_OK}}</td>
						</tr>
						<tr>
							<td>PT_CL_HH_OK</td>
							<td>{{PT_CL_HH_OK}}</td>
						</tr>
						<tr>
							<td>PT_CHILL_LL_OK</td>
							<td>{{PT_CHILL_LL_OK}}</td>
						</tr>
						<tr>
							<td>PT_CL_LL_OK</td>
							<td>{{PT_CL_LL_OK}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<ul class="buttons">
				<li>Page -</li>
				<li>Line -</li>
				<li>Line +</li>
				<li>Page +</li>
				<li class="empty"></li>
				<li>Reset</li>
			</ul>
		</div>
		<script type="text/javascript">
			$(document).ready(function(){
				//pagination
				var startRow = {{first_row}}; //counting starts with 1
				var lastRow = {{last_row}}; //number of the last line to show

				$.each($('.one-more .paginatable tr'), function(i, row){
					if(i == 0) return;
					if(i >= startRow && i <= lastRow) {
						$(row).show();
					} else {
						$(row).hide();
					}
				});

				//timer
				var accessTimer = {
					init: function(startWith) {
						//in case you forgot to pass startWith
						if(typeof startWith == "undefined") {
							startWith = (new Date()).getTime()/1000;
						}
						
						// you might want to set your own definitions and order based on locale
						this.weekdays = ["Su", "Mo", "Tu", "We", "Th", "Fr", "St"];	
						
						this.timerElement = $(".timer");
						this.inverval = 1000; //how often to update the clocks
						this.ticks = 0;
						if(this.timerElement.length) {
							this.startWith = startWith*1000;
							this.weekdayElement = this.timerElement.find(".weekday");
							this.dateElement = this.timerElement.find(".date");
							this.timeElement = this.timerElement.find(".time");
							this.initTicker();
						}
					},
					initTicker: function() {
						var that = this;
						this.update();
						this.ticker = setInterval(function() {
							that.update();
						}, this.inverval);
					},
					update: function() {
						var now = new Date(this.startWith + this.ticks*this.inverval);
						
						var dateStr = ("0" + now.getDate()).slice(-2) + "/" + ("0" + (now.getMonth() + 1)).slice(-2) + "/" + now.getFullYear().toString().slice(-2);
						
						this.dateElement.html(dateStr);
						
						var timeStr = ("0" + now.getHours()).slice(-2) + ":" + ("0" +now.getMinutes()).slice(-2) + ":" + ("0" + now.getSeconds()).slice(-2);
						
						this.timeElement.html(timeStr);
						
						this.weekdayElement.html(this.weekdays[now.getDay()]);
						
						this.ticks++;
					},
				};
				
							
				// setting current timestamp in seconds; you can set the time you need if you want
				var startWith = (new Date()).getTime()/1000; 
				accessTimer.init(startWith);
			});
		</script>
	</body>
</html>