<!DOCTYPE html>
<html>
	<head>
		<link href="css/main.css" rel="stylesheet" type="text/css" />
		<script src="js/jquery.js" type="text/javascript"></script>
		<script src="js/gauge.js" type="text/javascript"></script>
		<script src="js/main.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="screen">
			<div class="water">
				<div class="container">
					<div class="title">
		                <div class="left">Demin Water & Cooling Systems</div>
		                <div class="right">Unit A</div>
		            </div>
					<table class="options">
						<tbody>
							<tr>
								<td>EnEvp</td><td>: Enable Event logging Water</td>
							</tr>
							<tr>
								<td>FV</td><td>: Fill-Up System</td>
							</tr>
							<tr>
								<td>Demin</td><td>: Deminiralised Water supply</td>
							</tr>
							<tr>
								<td>Cool</td><td>: Electrolyte cooling</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<ul class="buttons">
				<li>En Evt</li>
				<li class="empty"></li>
				<li>FV</li>
				<li>Demin</li>
				<li class="empty"></li>
				<li>Cool</li>
			</ul>
		</div>
	</body>
</html>