<!DOCTYPE html>
<html>
	<head>
		<link href="css/main.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="screen">
			<div class="water">
				<div class="container">
					<div class="title">
		                <div class="left">COOLING SYSTEMS</div>
		                <div class="right">Unit A</div>
		            </div>
					<table class="options">
						<tbody>
							<tr>
								<td>CLC</td><td>: Closed Loop Cooling</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<ul class="buttons">
				<li>CLC</li>
				<li class="empty"></li>
				<li class="empty"></li>
				<li class="empty"></li>
				<li class="empty"></li>
				<li class="empty"></li>
			</ul>
		</div>
	</body>
</html>