<html>
<head>
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery.js" type="text/javascript"></script>
    <script src="js/gauge.js" type="text/javascript"></script>
    <script src="js/highcharts.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
</head>
<body>
<div class="screen">
    <div class="modules">
        <div class="container">
            <div class="title">
                <div class="left">CELL STACK SELECTION</div>
                <div class="right">Unit A</div>
            </div>
            <div class="list"><div>
                    <div class="module-title">
                        Cell Stack 1
                    </div>
                    <div class="status">
                        {{CS1_ENABLE}}
                    </div>
                </div><div style="border:0;">
                    <div class="module-title">
                    </div>
                    <div class="status">
                    </div>
                </div><div>
                    <div class="module-title">
                        Cell Stack 2
                    </div>
                    <div class="status">
                        {{CS2_ENABLE}}
                    </div>
                </div><div style="border:0;">
                    <div class="module-title">
                    </div>
                    <div class="status">
                    </div>
                </div></div>
            <ul class="buttons">
                <li>CS 1</li>
                <li>CS 2</li>
                <li class="empty"></li>
                <li class="empty"></li>
                <li>En All</li>
                <li>DisAll</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>