<html>
	<head>
		<link href="css/main.css" rel="stylesheet" type="text/css" />
		<script src="js/jquery.js" type="text/javascript"></script>
		<script src="js/gauge.js" type="text/javascript"></script>
		<script src="js/main.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="screen">
			<div class="setpoint">
				<div class="container">
					<div class="title">
						SETPOINT PRESSURE
					</div>
					<div class="second-title">UNIT A</div>
					<table class="data" style="margin-top: 40px;">
						<tbody>
							<tr>
								<td>Actual Value</td>
								<td>:</td>
								<td>empty</td>
								<td>A</td>
							</tr>
							<tr>
								<td>Actual Setpoint</td>
								<td>:</td>
								<td style="border: 1px solid #C0C0C0">empty</td>
								<td>A</td>
							</tr>
							<tr>
								<td>Coresponding <br>Production Rate</td>
								<td>:</td>
								<td>empty<br>Nm&sup3;/h</td>
								<td></td>
							</tr>
						</tbody>
					</table>
					<div class="speedo-wrap">
						<canvas id="speedo"></canvas>
					</div>
				</div>
			</div>
			<ul class="buttons">
				<li>-10</li>
				<li>-1</li>
				<li>+1</li>
				<li>+10</li>
				<li class="empty"></li>
				<li class="empty"></li>
			</ul>
		</div>
		<script type="text/javascript">
		$(document).ready(function() {
			func = function() {
				var options;
				options = {
					value: 0,
					majorTickLabel: true,
					min: 0,
					max: 500,
					majorTicks: 5,
					colorOfFill: [ '#fff', '#eee', '#111', '#fff'],
					colorOfPointerFill: (255,255,255,0.9) ,
					colorOfPointerStroke: (255,255,255,0.9) ,
					colorOfCenterCircleFill: (255,255,255,0.9) ,
					colorOfCenterCircleStroke: (255,255,255,0.9) ,
					minorTicks: 4 // small ticks inside each major tick
				};
				new Gauge(document.getElementById( 'speedo'), options);
			};
			func();
		});
		</script>
	</body>
</html>