<!DOCTYPE html>
<html>
    <head>
        <link href="css/main.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="screen">
            <div class="production">
                <div class="container">
                    <div class="title">PRODUCTION LEMITATIONS/PRE-ALARMS</div>
                    <div class="second-title">UNIT A</div>
                    <table class="options">
                        <tbody>
                            <tr>
                                <td>Prod</td><td>:Production setpoint</td>
                            </tr>
                            <tr>
                                <td>Sel CS</td><td>:Select Cell Stack</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <ul class="buttons">
                <li>Prod</li>
                <li>Sel CS</li>
                <li class="empty"></li>
                <li class="empty"></li>
                <li class="empty"></li>
                <li class="empty"></li>
            </ul>
        </div>
    </body>
</html>