<!DOCTYPE html>
<html>
	<head>
		<link href="css/main.css" rel="stylesheet" type="text/css" />
		<script src="js/main.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="screen">
			<div class="electro">
				<div class="container">
					<div class="title">
						<div class="left">EPS Info Cell Stack 1</div>
						<div class="right">Unit A</div>
					</div>
					<table class="bottom-table">
			            <tbody>
			            <tr>
			                <td>Fans</td>
			                <td>empty</td>
			                <td></td>
			            </tr>
			            <tr>
			                <td>UPS Voltage</td>
			                <td>empty</td>
			                <td>V</td>
			            </tr>
			            <tr>
			                <td>Main Contactor</td>
			                <td>empty</td>
			                <td></td>
			            </tr>
			            <tr>
			                <td>Enable Phase Angle Mode</td>
			                <td>empty</td>
			                <td></td>
			            </tr>
			            <tr>
			                <td>Ramp Up Current</td>
			                <td>empty</td>
			                <td></td>
			            </tr>
			            <tr>
			                <td>Ramp Down Current</td>
			                <td>empty</td>
			                <td></td>
			            </tr>
			            <tr>
			                <td>Temperature Sw. SCR's</td>
			                <td>empty</td>
			                <td></td>
			            </tr>
			            <tr>
			                <td>Temperature Sw. SCR's Pre</td>
			                <td>empty</td>
			                <td></td>
			            </tr>
			            <tr>
			                <td>Temperature Sw. Rectifier</td>
			                <td>empty</td>
			                <td></td>
			            </tr>
			            </tbody>
			        </table>
				</div>
			</div>
			<ul class="buttons">
				<li>CS 1</li>
				<li>CS 2</li>
				<li class="empty"></li>
				<li class="empty"></li>
				<li class="empty"></li>
				<li class="empty"></li>
			</ul>
		</div>
	</body>
</html>