<!DOCTYPE html>
<html>
	<head>
		<link href="css/main.css" rel="stylesheet" type="text/css" />
		<script src="js/jquery.js" type="text/javascript"></script>
		<script src="js/gauge.js" type="text/javascript"></script>
		<script src="js/main.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="screen">
			<div class="water">
				<div class="container">
					<div class="title">
		                <div class="left">Deminaralised Water Supply</div>
		                <div class="right">Unit A</div>
		            </div>
					<table class="options">
						<tbody>
							<tr>
								<td>BT</td><td>: Break Tank</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<ul class="buttons">
				<li>BT</li>
				<li class="empty"></li>
				<li class="empty"></li>
				<li class="empty"></li>
				<li class="empty"></li>
				<li class="empty"></li>
			</ul>
		</div>
	</body>
</html>