<!DOCTYPE html>
<html>
	<head>
		<link href="css/main.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="screen">
		<div style="font-size: 14px; padding: 5px;">
			General Remark
			<br><br>
			Depressurisation is only possible from the following steps:
			<br>
			Step 0: Standby Nitrogen Purge
			<br>
			Step 9: Standby Hydrogen Purge
			<br>
			Step 30: Standby Hydrogen Product
			<br><br>
			This action will lead the system back to step 0 from where only the Nitrogen-Purge cycle can be selected.
			<br><br>
			The depressurisation will be stopped whe the system pressure is 15 kPa or lower
			<ul class="buttons">
				<li class="empty"></li>
				<li class="empty"></li>
				<li class="empty"></li>
				<li class="empty"></li>
				<li class="empty"></li>
				<li class="empty"></li>
			</ul>
		</div>
	</div>
	</body>
</html>