<html>
	<head>
		<link href="css/main.css" rel="stylesheet" type="text/css" />
		<script src="js/jquery.js" type="text/javascript"></script>
		<script src="js/gauge.js" type="text/javascript"></script>
		<script src="js/main.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="screen">
			<div class="start-conditions">
				<table class="title">
					<tbody>
						<tr>
							<td>START CONDITIONS</td>
							<td>LLLLLLLLLL</td>
						</tr>
					</tbody>
				</table>
				<table class="data">
					<tbody>
						<tr>
							<td>Basic</td>
							<td>Startcond.:</td>
							<td>{{COND_BASIC}}</td>
						</tr>
						<tr>
							<td>N2-Prg</td>
							<td>Startcond.:</td>
                            <td>{{COND_N2_PURGE}}</td>
						</tr>
						<tr>
							<td>H2-Drier</td>
							<td>Startcond.:</td>
							<td>FALSE</td>
						</tr>
						<tr>
							<td>O2-Drier</td>
							<td>Startcond.:</td>
							<td>FALSE</td>
						</tr>
						<tr>
							<td>H2-Comp</td>
							<td>Startcond.:</td>
							<td>FALSE</td>
						</tr>
						<tr>
							<td>H2-Prod</td>
							<td>Startcond.:</td>
                            <td>{{COND_H2_PRODUCTION}}</td>
						</tr>
						<tr>
							<td>Cell St 1</td>
							<td>Startcond.:</td>
							<td>{{CS1_ENABLE}}</td>
						</tr>
						<tr>
							<td>Cell St 2</td>
							<td>Startcond.:</td>
							<td>{{CS2_ENABLE}}</td>
						</tr>
						<tr>
							<td>Cell St 3</td>
							<td>Startcond.:</td>
							<td>FALSE</td>
						</tr>
						<tr>
							<td>Cell St 4</td>
							<td>Startcond.:</td>
							<td>FALSE</td>
						</tr>
					</tbody>
				</table>
			</div>
			<ul class="left-buttons">
				<li>Basic</li>
				<li>N2-Prg</li>
				<li>H2-Drier</li>
				<li>O2-Drier</li>
			</ul>
			<ul class="buttons">
				<li>Comp</li>
				<li>H2 Pr</li>
				<li>CS1</li>
				<li>CS2</li>
				<li>CS3</li>
				<li>CS4</li>
			</ul>
		</div>
	</body>
</html>
