<!DOCTYPE html>
<html>
	<head>
		<link href="css/main.css" rel="stylesheet" type="text/css" />
		<script src="js/main.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="screen">
			<div class="depres">
				<div class="container">
					<div class="title">DEPRESSURISATION</div>
					<div class="wrapper">
						<div class="left">PT:</div><div class="right">{{PTGS}}    kPa</div>
					</div>
				</div>
			</div>
			<ul class="buttons">
				<li>INFO</li>
				<li>YES</li>
				<li class="empty"></li>
				<li class="empty"></li>
				<li class="empty"></li>
				<li class="empty"></li>
			</ul>
		</div>
	</body>
</html>